# Dependencies
node_modules/

# Data Storage Files
data/

# Environment Variables
.env
.env.*

# Logs
*.log
/log

# Temporary Files
tmp/
temp/

# Build Output
dist/
build/

# IDE/Editor Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db