<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static File - Demo</title>
    
    <link href="../css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="card">
        <h1>Welcome to Demo API</h1>
        <p>This is a demo users api build using Express JS and a JSON file as a data source.</p>
        <p>This is a single demo HTML page to demo serving static files.</p>
    </div>
  </body>
</html>
